*{
	box-sizing:border-box;
}

ul li{
	list-style: none;
	font-size: 1.5em;
}
.list{
	display: inline-block;
}
a{
	color:#100404;
}

a:link{
	text-decoration: none;

}

#contact a {
	color: #F2A516;
}
#contact a:hover {
	color: #EF4921;
}
#footer a{
	color: #F2A516;

}
#footer a:hover{
	color: #EF4921;
}
a:hover{
	color: #EF4921;
}

.projectImg{
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
	margin: auto;
	width: 150px;
	height: 150px;
	max-width: 100%;
}
.projectImg:hover{
	transform: scale(1.5);
}

.portfolio{
	padding-top: 50px;
	padding-left: 50px;

}
.main-header{
	background-color: #F2A516;
	padding-top: 50px;
}
.main-header h1{
	color:#100404;
}

h1{
	font-size: 4em;
	text-align: center;
}
.aboutH2{
	padding-left: 50px;

}
body{
	margin: 0;

}

#contact{

	padding-right: 50px;
	padding-left: 50px;

}
#bio{
	padding-left: 50px;
	padding-top: 50px;
	height:300px;
	background-size: cover;
	background-repeat: no-repeat;;
	background-position:center;
	width: 100%;
}
#footer{
	border-bottom: 50px solid #F2A516;
	padding-left: 50px;
}
.topBorder{
	border-bottom: 5px solid #100404;
	margin-top: 20px;
}

.bio-box{
	color:#F2A516;

	height: 200px;
	border-radius: 2%;
	background-color: #100404;
	border-style: solid;
	border-width: 5px;
	border-color: #F2A516;
}
#animation{
	background-color:#100404;
	width: 200px;
	height: 250px;
	margin: 0px;
	padding: 50px;
}
.pumpkin{
	background-color: #EF4921;
	position: absolute;
	height: 200px;
	border-radius: 40%;
	width: 250px;
	top:0px;
	right:0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.pumpkin::before {
	background-color: transparent;
	transform: rotate(-145deg);
	content: "";
	position: absolute;
	margin: auto;
	width: 45px;
	height: 45px;
	top: 0;
	bottom: 0px;
	left: 120px;
	right: 0px;
	border-radius: 50%;
	box-shadow: 5px 5px 0px 0px #100404;

}
.pumpkin::after {
	background-color: transparent;
	transform: rotate(-145deg);
	content: "";
	position: absolute;
	margin: auto;
	width: 45px;
	height: 45px;
	top: 0;
	bottom: 0px;
	left: -120px;
	right: 0px;
	border-radius: 50%;
	box-shadow: 5px 5px 0px 0px #100404;

}
.pumpkin-nose{
	position: absolute;
	margin: auto;
	width: 10px;
	height: 20px;
	top: 0;
	bottom: -20px;
	left: 0;
	right: 0;
	background-color: #100404;

}

.pumpkin-mouth{
	background-color: transparent;
	transform: rotate(0deg);
	content: "";
	position: absolute;
	margin: auto;
	width: 100px;
	height: 45px;
	top: 0;
	bottom: -80px;
	left: 0px;
	right: 0px;
	border-radius: 50%;
	box-shadow: 1px 5px 0px 0px #100404;
}
.pumpkin-stem{
	background-color: #AD4513;
	transform: rotate(0deg);
	content: "";
	position: absolute;
	margin: auto;
	width: 20px;
	height: 45px;
	top: 0;
	bottom: 180px;
	left: 0px;
	right: 0px;
	border-radius: 0%;
	//box-shadow: 5px 5px 0px 0px #590202;

}
