ul li{
	display: inline;
	list-style: none;
	font-size: 1.5em;	
}
a{
	color:#F9C1D9;
}
a:link{
	text-decoration: none;

}
footer a {
	color: #EF525B;
}
a:hover{
	color: #F788A6;
}

.projectImg{
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
	margin: auto;
	width: 300px;
	height: 300px;
}
.projectImg:hover{
	border-radius: 100%;
}
.portfolio{
	padding-top: 50px;
}
.main-header{
	background-color: #EF525B;
	padding-top: 50px;
}
.main-header h1{
	color:#F9C1D9;
}

h1{
	font-size: 4em;
}
body{
	margin: 0;

}
#bio{
	padding-top: 50px;
}
