
body{
	background-color: Pink;
	padding: 50px 50px 50px 50px;
}
h1{
	font-family:Times;
	font-style: italic;
	font-weight: bold; 
}

.box{
	margin: auto;
	width: 300px;
	height: 400px;
	background-color: gray;
	box-shadow: 15px 15px 10px #888888;
	border-radius: 10px;
	margin:auto;
}
#btn{
    display: inline inline-block;
    background-color: gray;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 0;
    
}
#screen{
	background-color: white;
	font-size: 20px;
	border-radius: 10px;
}


