body{
  margin: 0;
}

nav{
  display: inline;
  font-family: Papyrus; 
  font-size: 1.5rem;
  color: black;

}
a{
position: relative;
width: 99px;
height: 33px;
margin: 22px;
font-family: Papyrus;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #000000;

}



.row{
  padding-top: 65px;
}
.sketches{
  /* Sketches */


position: absolute;
width: 302px;
height: 69px;
left: 40%;
top: 179px;

font-family: Papyrus;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 66px;

color: #000000;

}
.name{
  /* K e r i n */


position: absolute;
width: 288px;
height: 65px;
font-family: Papyrus;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 66px;

color: #000000;

}
.gallary{
  /* Rectangle 2 */
  position: absolute;
  min-width:80%;
  min-height:70%;
  top: 248px;
  background: no-repeat center/ 50% url(../assets/4778525390865960379.jpg), #FFFFFF;
  border: 40px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttonR{
  position: relative;
  top: 400px;
  left: 80%;
}
.buttonL{
  position: relative;
  top: 400px;
  left: 0%;
}
.projects{
    /* Projects */


  position: absolute;
  width: 288px;
  height: 65px;
  left: 40%;
  top: 850px;

  font-family: Papyrus;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 66px;

  color: #000000;

}
.proimg1{
  /* Rectangle 3 */


width: 50px;
height: 50px;
top: 800px;

background: #D8D2F8;
border: 5px solid #000000;
}
.proDetail1{
  position: absolute;
  width: 100px;
  height: 150px;
  left: 0px;
  top: 800px;

  font-family: Rasa;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 29px;
  letter-spacing: 0.1em;

  color: #000000;
}